{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">

      <form role="form" method="post" action=".?form=bookForm">
          {% csrf_token %}
        <div class="form-group">
            {{ bookForm.title }}
        </div>
        <button type="submit" class="btn btn-primary">
          Salvar
        </button>
      </form>

    </div>

    <div class="col-md-6">

      <form role="form" method="post" action=".?form=movieForm">
          {% csrf_token %}
        <div class="form-group">
          {{ movieForm.title }}
        </div>
        <button type="submit" class="btn btn-primary">
          Salvar
        </button>
      </form>

    </div>

  </div>
</div>

{% endblock content %}
